.button {
  display: block;
  margin: 0 20px;
  padding: 12px 0 10px;

  font-family: "Oswald", Tahoma, sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  background-color: @leaf;
}
