.goals {
  max-width: @desktop;
  padding: 22px 20px;
}

.goals__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style: none;
}

.goals__item {
  margin-bottom: 20px;
  padding: 20px 20px 0;

  background-color: @lightest-grey;
}

.goals__heading {
  position: relative;
  margin: 15px 0 30px;
  padding-left: 72px;

  font-family: @font-accent;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  color: @black;

  &::before {
    position: absolute;
    content: "";

    width: 50px;
    height: 50px;

    top: -5px;
    left: 0;

    border-radius: 50%;
    background-color: @leaf;
  }
}

.goals__description {
  padding-bottom: 20px;
  margin-bottom: 0;

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.goals__link {
  display: block;
  padding: 18px 0 20px;

  font-family: @font-accent;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: @black;
}

@media (min-width: @tablet) {
  .goals {
    padding-left: 30px;
    padding-right: 30px;
  }

  .goals__item {
    margin-bottom: 30px;
    padding: 52px;
  }

  .goals__heading {
    position: relative;
    margin: 15px 0 30px;
    padding-left: 0;
    padding-right: 210px;

    font-size: 36px;

    &::before {
      width: 200px;
      height: 200px;

      top: 20px;
      left: auto;
      right: 10px;
    }
  }

  .goals__description {
    padding-right: 210px;

    font-size: 16px;
    line-height: 24px;

    border-bottom: none;
  }

  .goals__description--weight-gain {
    padding-right: 250px;
  }

  .goals__link {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: @desktop) {
  .goals {
    margin: 80px auto;
    padding: 0 110px;
  }

  .goals__list {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .goals__item {
    width: 570px;
    padding: 52px;
  }

  .goals__heading {
    padding-left: 164px;
    padding-right: 0;
    margin-bottom: 70px;

    &::before {
      width: 100px;
      height: 100px;

      top: -30px;
      left: 0;
      right: auto;
    }
  }

  .goals__description {
    padding: 0;
  }
}
