.guide {
  max-width: @desktop;
  margin-bottom: 40px;
  padding: 0 20px;

  counter-reset: guide;
}

.guide__title {
  margin: 0 0 35px;

  font-family: @font-accent;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: @black;
}

.guide__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style: none;
}

.guide__item {
  position: relative;
  min-height: 60px;
  padding-left: 80px;
  margin-bottom: 20px;

  &::before {
    position: absolute;
    content: "";

    width: 60px;
    height: 60px;

    top: 0;
    left: 0;

    background-color: @leaf;
  }
}

@media (min-width: @tablet) {
  .guide {
    padding-left: 30px;
    padding-right: 30px;
  }

  .guide__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .guide__item {
    width: 50%;
    padding: 110px 100px 0 0;
    margin-bottom: 130px;

    flex-shrink: 0;

    font-size: 16px;
    line-height: 24px;

    &::before {
      width: 80px;
      height: 80px;

      top: 0;
      left: 0;
    }

    &::after {
      position: absolute;
      z-index: -1;

      font-family: @font-accent;
      font-size: 281px;
      line-height: 281px;
      color: @lightest-grey;

      top: -40px;
      left: 120px;

      counter-increment: guide;
      content: counter(guide);
    }
  }
}

@media (min-width: @desktop) {
  .guide {
    padding-left: 110px;
    padding-right: 110px;
    margin: 0 auto;
  }

  .guide__item {
    width: 25%;
  }
}
