.hero-image {
  padding-top: 25px;

  font-family: @font-accent;
  text-align: center;
  color: @white;

  background-image: url("../../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
}

.hero-image__title {
  margin-top: 0;

  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.hero-image__description {
  line-height: 14px;
  text-transform: uppercase;
}
