.item {
  padding: 25px 20px;

  border-top: 1px solid @lightest-grey;
}

.item:last-child {
  border-bottom: 1px solid @lightest-grey;
}

.item__heading {
  margin: 4px 0 16px;
  width: 80px;

  font-family: @font-accent;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @black;
}

.item__characteristics {
  margin: 0 0 20px;
  width: 140px;

  font-size: 12px;
  line-height: 16px;
  color: @dark-grey;
}

.item__value {
  text-align: end;
}

.item__button {
  margin: 0;
}
