.logotype {
  display: flex;
  margin: 12px 53px 12px 20px;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logotype__image {
  width: 33px;
  height: auto;
}

.logotype__title {
  margin: 12px auto;
}

@media (min-width: @tablet) {
  .logotype {
    margin: 24px 0 24px 30px;
  }

  .logotype__image {
    width: 174px;
  }

  .logotype__title {
    display: none;
  }
}

@media (min-width: @desktop) {
  .logotype {
    margin: 42px  0 42px 110px;
  }

  .logotype__image {
    width: 203px;
  }
}
