.logotype {
  display: flex;
  margin: 11px 65px 15px 20px;
}

.logotype__image {
  margin-right: 10px;
}

.logotype__title {
  margin: auto;
}

@media (min-width: @tablet) {
  .logotype {
    margin: 24px 30px;
  }

  .logotype__title {
    margin-left: 0;
  }
}

@media (min-width: @desktop) {
  .logotype {
    margin: 53px 110px;
  }
}
