.more {
  border-bottom: 1px solid @light-grey;
}

.more__heading {
  margin: 0 0 10px;

  font-family: @font-accent;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @black;
}

.more__description {
  margin: 0 0 20px;
  font-size: 12px;
  line-height: 16px;
  color: @dark-grey;
}

.more__button {
  margin: 0;

  color: @dark-grey;

  background-color: @lightest-grey;
}

@media (min-width: @tablet) {
  .more {
    border: 1px solid @light-grey;
    background: none;
  }

  .more__heading {
    width: 140px;
    margin: 0 auto 10px;

    font-size: 20px;
  }

  .more__description {
    margin: 28px auto 32px;
    width: 168px;

    font-size: 16px;
  }

  .more__button {
    margin-top: auto;
  }
}
