.more {
  padding: 60px 20px 25px;

  text-align: center;

  border-bottom: 1px solid @lightest-grey;
}

.more__heading {
  margin: 0 0 10px;

  font-family: @font-accent;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @black;
}

.more__description {
  margin: 0 0 20px;
  font-size: 12px;
  line-height: 16px;
  color: @dark-grey;
}

.more__button {
  margin: 0;

  color: @dark-grey;

  background-color: @light-grey;
}
