.social {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 24px 10px 16px 0;

  list-style: none;

  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.social__item {
  margin: 0 19px;
}

@media (min-width: @tablet) {
  .social {
    border: none;
  }
}
