@font-regular: "Arial", "Helvetica", sans-serif;

@font-accent: "Oswald", "Tahoma", sans-serif;

@leaf: #68b738;

@white: #ffffff;

@lightest-grey: #e6e6e6;

@light-grey: #f2f2f2;

@dark-grey: #444444;

@darkest-grey: #222222;

@black: #111111;
